:root {
  --blockquote-padding: 18px;
  --blockquote-font-size: 0.96rem;
  --blockquote-font-weight: 530;
  --blockquote-line-height: 1.7;
  --emp-margin: 0px;
  --emp-padding: 0px;
  --emp-font-size: 1rem;
  --emp-font-weight: 400;
  --emp-line-height: 1.5;

  /* KBD */
  --kbd-margin: 0px;
  --kbd-padding: 2px 4px;
  --kbd-font-family: 'Consolas';
  --kbd-font-size: 1rem;
  --kbd-font-weight: 200;
  --kbd-color: #000000;
  --kbd-background-color: #ffffff;
  --kbd-border-width: 2px;
  --kbd-border-radius: 2px;
  --kbd-border-color: #000000;

  /* 折叠标签 */
  --details-title-font-size: 1rem;
  --details-title-font-weight: 600;
  --details-title-line-height: 1.5;
  --details-title-color: rgba(0, 0, 0, 0.75);
  --details-title-background-color: #d0edf1;
  --details-content-font-size: 1rem;
  --details-content-font-weight: 300;
  --details-content-line-height: 1.5;
  --details-content-color: rgba(0, 0, 0, 0.75);
  --details-content-background-color: #ffffff;
  --details-border-before: 2px solid #000000; /* 展开前的边框 */
  --details-border-after: 2px solid #000000; /* 展开后的边框 */
  --details-border-radius: 5px;
}

blockquote[alt] {
  padding: var(--blockquote-padding);
  font-size: var(--blockquote-font-size);
  font-weight: var(--blockquote-font-weight);
  border-left: var(--blockquote-border-left);
  background-color: var(--blockquote-background-color);
  line-height: var(--blockquote-line-height);
  position: relative;
  padding-left: calc(
    var(--blockquote-padding) + 20px
  ); // 增加左侧内边距让文字偏右

  color: var(--blockquote-font-color); // 设置字体颜色
}

blockquote[alt='info'] > *,
blockquote[alt='warn'] > *,
blockquote[alt='success'] > *,
blockquote[alt='danger'] > * {
  margin-left: 1.5em;
}

blockquote[alt='info'] {
  border-left: var(--info-blockquote-border-left);
  background-color: var(--info-blockquote-background-color);
}

blockquote[alt='info']::before {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  margin: 0;
  padding-right: 5px;
  font-family: FontAwesome, sans-serif; /* 正确 Font Awesome 字体 */
  font-weight: 400; /* 固体图标需要此权重 */
  content: '\f05a';
}

blockquote[alt='warn'] {
  border-left: var(--warn-blockquote-border-left);
  background-color: var(--warn-blockquote-background-color);
}

blockquote[alt='warn']::before {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  margin: 0;
  padding-right: 5px;
  font-family: FontAwesome, sans-serif; /* 正确 Font Awesome 字体 */
  font-weight: 400; /* 固体图标需要此权重 */
  content: '\f071'; /* stream 图标的 Unicode */
}

blockquote[alt='danger'] {
  border-left: var(--danger-blockquote-border-left);
  background-color: var(--danger-blockquote-background-color);
}

blockquote[alt='danger']::before {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  margin: 0;
  padding-right: 5px;
  font-family: FontAwesome, sans-serif; /* 正确 Font Awesome 字体 */
  font-weight: 400; /* 固体图标需要此权重 */
  content: '\f057';
}

blockquote[alt='success'] {
  border-left: var(--success-blockquote-border-left);
  background-color: var(--success-blockquote-background-color);
}

blockquote[alt='success']::before {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  margin: 0;
  padding-right: 5px;
  font-family: FontAwesome, sans-serif; /* 正确 Font Awesome 字体 */
  font-weight: 400; /* 固体图标需要此权重 */
  content: '\f058';
}

span[alt] {
  margin: var(-emp-margin);
  padding: var(--emp-padding);
  font-size: var(--emp-font-size);
  font-weight: var(--emp-font-weight);
  line-height: var(--emp-line-height);
}

span[alt='solid'] {
  text-decoration-line: underline;
  text-decoration-color: var(--emp-line-color);
  text-decoration-style: solid;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
}

span[alt='dashed'] {
  text-decoration-line: underline;
  text-decoration-color: var(--emp-line-color);
  text-decoration-style: dashed;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
}

span[alt='dotted'] {
  text-decoration-line: underline;
  text-decoration-color: var(--emp-line-color);
  text-decoration-style: dotted;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
}

span[alt='wavy'] {
  text-decoration-line: underline;
  text-decoration-color: var(--emp-line-color);
  text-decoration-style: wavy;
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
}

/* KBD */
kbd {
  margin: var(--kbd-margin);
  padding: var(--kbd-padding);
  vertical-align: baseline;
  border-radius: var(--kbd-border-radius);
  border-width: var(--kbd-border-width);
  border-color: var(--kbd-border-color);
}

table td,
table th {
  white-space: normal;
  word-wrap: break-word;
}
